@keyframes rotate-circle {
    0% {
        transform: rotate(0deg); 
      }
      100% {
        transform: rotate(360deg); 
      }
    }
  

.mining-container{

    .mining-animation{

        .minig-balance{
            background-color: rgb(30, 31, 34);
            padding: 10px;
            border-radius: 16px;
            margin: 20px;
            color: rgb(180, 180, 180);
            font-weight: 700;
        }

       display: flex;
       flex-direction: column;
       align-items: center;

       .circle-animation {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        animation: rotate-circle 3s linear infinite;
      }
    }

    .mining-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(30, 31, 34);
        margin: 20px;
        border-radius: 26px;

        h2{
            color: rgb(180, 180, 180);
            font-size: 18px;
        }
        div{
            color: white;
            padding-bottom: 30px;
            font-size: 40px;
        }
    }

    .mining-btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .disabled-button {
    color: #b4b4b4 !important;
    } 

}

.boost-list{
    width: 100%;

    .boost-col{
        display: flex;
        color: white;
        justify-content: space-between;
        padding: 15px;
        margin-top: 10px;
        background-color:#3b3b3b;
        border-radius: 17px;
        margin: 10px;
      }
}

